@import "tailwindcss";

body {
  background: #09090b;
  color: #fafafa;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* React Flow overrides */
.react-flow__edge {
  cursor: pointer;
}

.react-flow__edge:hover .react-flow__edge-path {
  stroke: #f87171 !important;
  stroke-width: 3 !important;
}
